---
    let {text} = Astro.props;
---

<div class='title' id="infinite_vertical">
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
    <span>{text}</span>
</div>